@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@font-face {
	font-family: 'menlo';
	src:url('src/menlo.woff') format('woff'),
}

.grid {
  display: flex;
}

.button img {
	/* width: 20%; !! also remove style max width */
  display: flex;
	margin-right: 60%;
}

h3 {
	margin-left: 45%;
	font-size: 13px;
}

p {
	margin-left: 45%;
	font-size: 10px;
}
/* Portrait iphone x  */
/* from  https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    div#grid table tr td {
    	height: 370px;
    	width: 450px;
    	padding-top: 30px;
    }
}
@media only screen and (max-width: 603px) { /* For narrow devices */
  .button img {
    width: 70%;
		margin-top: 0px;
		right: 20%;
		left: 30%;
  }
	p {
		font-size: 0;
	}
	.grid {
		width: 30%;
		height: 200%;
		left: -15px;
		padding-top: 10px;
		}
	h3 {
		margin-top: 50px;
		font-size: 12px;
		margin-left: 0;
		text-align: center;
	}
	footer {
		display: none;
	}
	-webkit-filter {
		opacity: 0;
	}
}

:root {
	--background-alt: #0D080F;
	--background: #0D080F;
	--base-txt: #5A555B;
}
::-webkit-input-placeholder {
    opacity: 1 !important;
}
::-moz-placeholder {
    opacity: 1 !important;
}

body, html {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: var(--background);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	margin: 0;
}
kbd {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #577064 inset;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #577064 inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #577064 inset;
	text-shadow: 0 1px 0 #577064;
	-webkit-border-radius: 3px;
	background-color: #4D6358;
	border: 1px solid #658274;
	-moz-border-radius: 3px;
	font-family: monospace;
	display: inline-block;
	border-radius: 3px;
	padding: .1em .6em;
	line-height: 1.4;
	font-size: 11px;
	margin: 0 .1em;
	color: #ccc;
}
div#blackout {
	transition: 0.1s opacity;
	background-color: #000;
	pointer-events: none;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	opacity: 0.1;
	margin: 1;
}

div#grid {
	margin-left: 0px;
	margin-top: 0px;
	position: center;
	width: 100%;
	height: 100%;
	left: 10%;
	top: 10%;
}
div#grid table {
	font-family: 'menlo', sans-serif;
	border-collapse: separate;
	border-spacing: 10px;
	font-size: 10px;
}

div#grid table tr td {
	height: 170px;
	width: 450px;
	padding-top: 30px;
}
div#grid table tr td a {
	text-shadow: 0px 0px 0 rgba(200,50,50,.5), 0px 0px 0 rgba(50,200,150,.5);
	box-shadow: 0px 0px 0 rgba(200,50,50,.5), 0px 0px 0 rgba(50,200,150,.5);
	transition: .2s text-shadow, .2s box-shadow, .2s border-bottom;
	border-bottom: 0px solid rgba(200,50,50,1);
	background-color: var(--background-alt);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: var(--base-txt);
	box-sizing: border-box;
	text-decoration: none;
	position: relative;
	display: block;
	padding: 10px;
	height: 100%;
	width: 100%;
}
div#grid table tr td a img {
	-webkit-filter: drop-shadow(0px 0px 0 rgba(300,50,50,.3)) drop-shadow(0px 0px 0 rgba(50,200,150,.3));
	filter:drop-shadow(0px 0px 0 rgba(200,50,50,.3)) drop-shadow(0px 0px 0 rgba(50,200,150,.3));
	transition: .1s -webkit-filter, .1s filter;
	position: absolute;
	opacity: 1;
	right: 1px;
	z-index: 0;
	top: 5px;
}
div#grid table tr td a:focus img, div#grid table tr td a:hover img {
	-webkit-filter: drop-shadow(3px 3px 0 rgba(200,50,50,1)) drop-shadow(-3px -3px 0 rgba(50,200,150,1));
	filter:drop-shadow(3px 3px 0 rgba(200,50,50,1)) drop-shadow(-3px -3px 0 rgba(50,200,150,1));
}
.night:hover{
	text-shadow: 3px 3px 0 rgba(200,50,50,.7), -3px -3px 0 rgba(50,200,150,.7);
	box-shadow: 3px 3px 0 rgba(200,50,50,.5), -3px -3px 0 rgba(50,200,150,.5);
	outline: 0;
}
div#grid table tr td a:focus {
	border-bottom: 5px solid rgba(50,200,150,.3);
	background-color: --background;
}
div#grid table tr td a:focus, div#grid table tr td a:hover {
	text-shadow: 3px 3px 0 rgba(200,50,50,.7), -3px -3px 0 rgba(50,200,150,.7);
	box-shadow: 3px 3px 0 rgba(200,50,50,.5), -3px -3px 0 rgba(50,200,150,.5);
	outline: 0;
}
.night {
    right: 5%;
	background-color: var(--background);
    display: flex;
    position: fixed;
	border: none;
    bottom: 1%;
}
footer form input[type="text"] {
	transition: .3s border-color, .3s background-color, .3s border-bottom;
	background-color: var(--background);
	border-color: var(--base-txt);
	border: 0; /*   rip ramp   */
	border-bottom: 1px solid;
	color: var(--base-txt);
	font-size: 20px;
	position: fixed;
	display: flex;
	outline: none;
	padding: 5px;
	z-index: 4;
	bottom: 1%;
	width: 75%;
	left: 10%;
}
footer form input[type="text"]:focus {
	background-color: var(--background);
	border-bottom: 5px solid rgba(200,50,50,.5);
	color: var(--base-txt);
	outline: none;
}
footer form input[type="text"]:focus::-webkit-input-placeholder {
	opacity: 0;
}
footer form input[type="text"]:focus::-moz-placeholder {
	opacity: 0;
}
